.found__body{
    display: flex;
    flex-direction: column;
    margin: 5rem 0;
}

.found__body-getstarted {
    display: flex;
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    background-color: #EDDBC3;
}

.found__body-getstarted-img1 {
    height: 80%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.found__body-getstarted-img1 img{
    height: 100%;
}

.found__body-getstarted-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.found__body-getstarted-text h1{
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 40px;
    margin: 1rem;
}

.found__body-getstarted-text h3{
    line-height: 40px;
    letter-spacing: 0.8px;
    font-weight: 600;
    font-size: 25px;
    margin: 1rem 0;
}

.found__body-getstarted-text p{
    line-height: 30px;
    letter-spacing: 0.5px;
    font-size: 15px;
    font-weight: 500;
    margin: 0.4rem;
}

.found__body-getstarted-text p a{
    font-weight: bold;
    color: #24510D;
    cursor: pointer;
}

.found__body-getstarted-img2 {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
}

.found__body-getstarted-img2 img{
    height: 100%;
}

.found__body-lostItems-itemList{
    
}